html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

/* 3 uvodni foto, 4 odkazove bloky, 3 last minute
mobil
tablet
pc */

:root {
    --hlavni_barba: #F03000;
    --pozadi_barva:  rgb(236, 234, 234);
    
    }

body {
    max-width: 360px;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    font-weight: 500;
}

h1 {
    text-align:center;
}
ul {
    list-style: none;
    padding: 0;
 
}

li {
    color: var(--hlavni_barba);
    padding: 1rem 0.5rem;
    display: inline-block;
}

li:hover,
li:focus {
    color: white;
    background-color: var(--hlavni_barba);
}

h3 {
    color: var(--hlavni_barba);
    margin: 0.5rem auto;
}

.rozklik--text,
.sluzba {
    background-color: var(--pozadi_barva);
    margin: 1.5rem 0;
    padding: 0.5rem 1rem;
}
.sluzba {
    display: flex;
}

.sluzba img {
    margin: 1rem 1.5rem auto auto;
}

.datum {
    font-weight: 300;
    color: grey;
}


footer {
    text-align:center;
    color: white;
    background-color: rgb(78, 78, 78);
    padding: 1rem;
    font-size: 0.9rem;
}